---
/**
 * * FAQ section in accordions
 */

import { getLocaleFromUrl } from "@/js/localeUtils";
import { getTranslatedData } from "@/js/translationUtils";
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "./faq-accordion-standard";

interface Props {
  title?: string;
  description?: string;
  faqItems?: { question: string; answer: string }[];
}

const {
  title = "Frequently Asked Questions",
  description = "Find answers to common questions about our services and process",
  faqItems,
} = Astro.props;

const currLocale = getLocaleFromUrl(Astro.url);
const faqData = faqItems ?? getTranslatedData("faqData", currLocale);
---

<section id="faq" class="py-16 md:py-24">
  <div class="site-container">
    <div class="mx-auto mb-16 max-w-3xl text-center" data-mos="fade-up">
      <h2 class="h2 mb-4">{title}</h2>
      <p class="description">{description}</p>
    </div>
    <div
      class="mx-auto mt-10 flex max-w-3xl flex-col gap-3"
      data-mos="fade-up"
      data-mos-delay="0.4"
    >
      <Accordion class="space-y-3">
        {
          faqData.map((faqItem, idx) => (
            <AccordionItem value={`item-${idx}`}>
              <AccordionTrigger>{faqItem.question}</AccordionTrigger>
              <AccordionContent class="markdown-content" details={faqItem.answer} />
            </AccordionItem>
          ))
        }
      </Accordion>
    </div>
  </div>
</section>
